
<h1>enter a money amount to calculate the change in coins</h1>
<form action='/change'>
  <div class="form-group">
    <label for="change">enter number</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
